
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <h1>Studnet: @ViewBag.student.Name</h1>          /*razor sytax*/
    <p>Student ID: @ViewBag.student.StudentId </p>
    <p>Student GPA: @ViewBag.student.GPA </p>
    <p>Student Major: @ViewBag.student.Major </p>
    <p>Admission date: @ViewBag.student.AdmissionDate </p>
    <p>Is the student a Veteran? @ViewBag.student.IsVeteran </p>
</body>
</html>
